---
import BentoItem from "./BentiItem.astro";

import {getI18N} from '../../i18n/'
const { currentLocale } = Astro
const i18n = getI18N({currentLocale})
---

<section
  class="w-full max-w-[1400px] p-2
    grid grid-cols-10 auto-rows-[35rem] gap-4"
>
  <BentoItem
    class="col-span-10 uppercase md:col-span-6 "
    title={i18n.BENTOGRID.BENTO_TITLE_1}
  >
    <div
      class="absolute left-0 top-0 bottom-0 h-full w-full
        group-hover:scale-110 duration-1000 ease-in-out opacity-90
        bg-center bg-cover bg-no-repeat bg-blue-950 bg-blend-luminosity -z-10"
      style="background-image: url('/mountain.webp')"
      slot="image"
    >
    </div>
    <p slot="content" class="max-w-xl pt-4" set:html={i18n.BENTOGRID.BENTO_CONTENT_1} />
  </BentoItem>
  
  <BentoItem
    class="col-span-10 uppercase md:col-span-4"
    title={i18n.BENTOGRID.BENTO_TITLE_3}
    subtitle={i18n.BENTOGRID.BENTO_SUBTITLE_3}
  >
    <div
      class="absolute left-0 top-0 bottom-0 h-full w-full
        group-hover:scale-110 duration-1000 ease-in-out opacity-90
        bg-center bg-cover bg-no-repeat bg-blue-950 bg-blend-luminosity -z-10"
      style="background-image: url('/grefg.webp')"
      slot="image"
    >
    </div>
    <p slot="content" class="max-w-xl pt-4" set:html={i18n.BENTOGRID.BENTO_CONTENT_3} />
  </BentoItem>
  <BentoItem
    class="col-span-10 uppercase md:col-span-4"
    title={i18n.BENTOGRID.BENTO_TITLE_2}
    subtitle={i18n.BENTOGRID.BENTO_SUBTITLE_2}
  >
    <div
      class="absolute left-0 top-0 bottom-0 h-full w-full
        group-hover:scale-110 duration-1000 ease-in-out opacity-90
        bg-center bg-cover bg-no-repeat bg-blue-950 bg-blend-luminosity -z-10"
      style="background-image: url('/pistas.webp')"
      slot="image"
    >
    </div>
    <p slot="content" class="max-w-xl pt-4" set:html={i18n.BENTOGRID.BENTO_CONTENT_2} />
  </BentoItem>
  <BentoItem
    class="col-span-10 uppercase md:col-span-6"
    title={i18n.BENTOGRID.BENTO_TITLE_4}
  >
    <div
      class="absolute left-0 top-0 bottom-0 h-full w-full
        group-hover:scale-110 duration-1000 ease-in-out opacity-90
        bg-center bg-cover bg-no-repeat bg-blue-950 bg-blend-luminosity -z-10"
      style="background-image: url('/laptop.webp')"
      slot="image"
    >
    </div>
    <p slot="content" class="max-w-xl pt-4" set:html={i18n.BENTOGRID.BENTO_CONTENT_4} />
  </BentoItem>
</section>
