---
import Logo from "./Logo.astro";

import {getI18N} from '../i18n/'
const { currentLocale } = Astro
const i18n = getI18N({currentLocale})
---

<section
  class="text-xl text-left  max-w-[60ch] text-pretty md:mx-auto my-24 flex flex-col items-center mx-10"
>
  <Logo class="w-16 mb-10" />
  <h1
    class="text-5xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide"
  >
    {i18n.INTO.INTRO_TITLE}<br/>{i18n.INTO.INTRO_TITLE_AFTER_BR}
  </h1>
  <p set:html={i18n.INTO.INTRO_DESCRIPTION_1} />
  <p set:html={i18n.INTO.INTRO_DESCRIPTION_2}/>
  <p set:html={i18n.INTO.INTRO_DESCRIPTION_3}/>
</section>
